* {
  box-sizing: border-box;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  height: 5000px;
  background: #fff;
  color: #666;
  font-size: 14px;
  font-family: "microsoft Yahei", sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  font: 14px "΢���ź�", sans-serif;
  border: 0 none;
  outline: 0 none;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
/* css common */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.wrap {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (width: 1280px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (width: 1349px) {
  html {
    font-size: 27px;
  }
}
.tcolor {
  color: #ff9d00;
}
header {
  height: 2.14814815rem;
  box-shadow: 0 2px 2px #d6d6d6;
}
header .logo {
  float: left;
  height: 2.14814815rem;
  width: 5.92592593rem;
  padding: 0.44444444rem 0;
  padding-right: 1.11111111rem;
  background: url("../images/logo.png") no-repeat left top;
  background-origin: content-box;
  background-clip: content-box;
}
header .nav {
  float: left;
}
header .nav li {
  float: left;
}
header .nav li a {
  display: block;
  line-height: 2rem;
  padding: 2px 0.59259259rem;
  text-decoration: none;
}
header .nav li a:hover {
  color: #ff9d00;
  border-bottom: 2px #ff9d00 solid;
  padding-bottom: 0;
}
header .nav li .active {
  background-color: #ff9d00;
  color: white;
}
header .nav li .submenu:hover {
  border-bottom: 0;
  border-top: 2px #ff9d00 solid;
  padding-top: 0;
}
header .help {
  float: right;
  padding: 16px 0;
}
header .help li {
  margin-left: 0.37037037rem;
  float: left;
}
header .help .sin,
header .help .qq,
header .help .wei {
  display: block;
  height: 26px;
  width: 26px;
  background: url("../images/header-sprites11.png") no-repeat;
}
header .help .sin {
  background-position: 0 -50px;
}
header .help .sin:hover {
  background-position: 0 -80px;
}
header .help .qq {
  background-position: -30px -50px;
}
header .help .qq:hover {
  background-position: -30px -80px;
}
header .help .wei {
  background-position: 0 -165px;
}
header .help .wei:hover {
  background-position: -30px -165px;
}
header .help .font {
  line-height: 0.96296296rem;
  color: #ff9d00;
}
header .help .line {
  height: 0.51851852rem;
  width: 1px;
  border-left: 1px solid #c9c9c9;
  margin-top: 0.22222222rem;
}
.banner {
  position: relative;
  width: 100%;
}
.banner > ul {
  width: 400%;
}
.banner > ul li {
  width: 25%;
  float: left;
  position: relative;
}
.banner > ul li .info-top {
  position: absolute;
  left: 6.44444444rem;
  top: 0.74074074rem;
}
.banner > ul li .info-top a {
  color: white;
  font-size: 0.74074074rem;
  text-decoration: none;
}
.banner > ul li .info-top span {
  font-size: 0.88888889rem;
}
.banner > ul li a {
  width: 100%;
  display: block;
}
.banner > ul li a img {
  width: 100%;
  vertical-align: middle;
}
.banner ol {
  position: absolute;
  right: 1.40740741rem;
  top: 1.33333333rem;
  border-radius: 0 0.2962963rem 0.2962963rem 0;
  overflow: hidden;
}
.banner ol li {
  width: 4.07407407rem;
  height: 2.37037037rem;
  margin-bottom: 0.2962963rem;
}
.banner ol li:last-child {
  margin-bottom: 0;
}
.banner ol li a {
  width: 100%;
  height: 100%;
  display: block;
}
.banner ol li a img {
  width: 100%;
}
.banner .more {
  width: 4.07407407rem;
  height: 1.33333333rem;
  position: absolute;
  right: 1.40740741rem;
  bottom: 1.33333333rem;
  background: url("../images/index-sprites9.png") no-repeat;
  background-size: 7.40740741rem 7.40740741rem;
  background-position: -2.22222222rem -1.85185185rem;
}
.banner .search {
  position: absolute;
  left: 50%;
  bottom: 1.48148148rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.banner .searchbar {
  height: 3.33333333rem;
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.37037037rem;
  padding: 0 0.37037037rem;
  margin-bottom: 0.74074074rem;
}
.banner .searchbar ul {
  width: 100%;
  padding: 0.44444444rem;
}
.banner .searchbar ul li {
  float: left;
  margin-right: 1.48148148rem;
}
.banner .searchbar ul li a {
  color: #fff;
  position: relative;
  padding-left: 0.74074074rem;
  text-decoration: none;
}
.banner .searchbar ul li a span {
  display: inline-block;
  width: 0.59259259rem;
  height: 0.59259259rem;
  border-radius: 50%;
  border: 0.07407407rem solid #ff9d00;
  background-color: #fff;
  position: absolute;
  top: 0.07407407rem;
  left: 0;
}
.banner .searchbar ul li a span::before {
  width: 0.37037037rem;
  height: 0.37037037rem;
  border-radius: 50%;
  content: "";
  display: block;
  background-color: #ff9d00;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  visibility: hidden;
}
.banner .searchbar .bar {
  width: 100%;
  height: 1.33333333rem;
}
.banner .searchbar .bar .txt {
  width: 17.33333333rem;
  height: 100%;
  border-radius: 0.18518519rem;
  background-color: #fff;
  padding-left: 0.74074074rem;
  font-weight: 500;
  float: left;
}
.banner .searchbar .bar button {
  width: 1.55555556rem;
  height: 1.33333333rem;
  padding: 0.14814815rem 0.2962963rem;
  border-radius: 0.18518519rem;
  float: right;
  background-color: #ff9d00;
}
.banner .searchbar .bar button i {
  display: block;
  width: 0.88888889rem;
  height: 0.88888889rem;
  background: url("../images/header-sprites11.png") no-repeat;
  background-size: 7.40740741rem 7.40740741rem;
  background-position: 0 -4.07407407rem;
}
.banner .info-bot {
  color: #fff;
}
main {
  padding-top: 0.74074074rem;
}
main aside {
  width: 9.62962963rem;
  margin-right: 1.48148148rem;
}
main aside .title {
  margin-top: 0.74074074rem;
  width: 100%;
  line-height: 2.51851852rem;
}
main aside .title h3 {
  font-size: 0.66666667rem;
  color: #333;
}
main aside .title h3 a {
  text-decoration: none;
}
main aside .title > a {
  color: #c9c9c9;
  cursor: pointer;
}
main aside .traveler img {
  width: 100%;
}
main aside .traveler p:nth-child(3) {
  font-size: 0.66666667rem;
  line-height: 1.62962963rem;
}
main aside .traveler p:nth-child(3) a:hover {
  color: #ff9d00;
}
main aside .gonglue img {
  width: 4.14814815rem;
  display: block;
}
main aside .gonglue .info {
  overflow: hidden;
  padding: 0 0.55555556rem;
}
main aside .gonglue .info a {
  font-size: 0.88888889rem;
  line-height: 1.85185185rem;
}
main aside .gonglue > ul li {
  margin-top: 0.74074074rem;
}
main aside .huodong .title > a {
  color: #ff9d00;
}
main aside .huodong > ul {
  height: 14.07407407rem;
  overflow: auto;
}
main aside .huodong > ul a {
  display: block;
  padding: 0.18518519rem 2.22222222rem;
  background: url("../images/slogo.png") no-repeat 0 0.18518519rem;
  text-decoration: none;
  margin: 0.37037037rem 0;
}
main aside .huodong > ul a:hover {
  background-color: #e6e6e6;
}
main aside .join-us .title a {
  color: #666;
}
main aside .join-us > img {
  width: 100%;
  margin-bottom: 0.18518519rem;
}
main aside .join-us > ul a {
  display: block;
  line-height: 1.11111111rem;
}
main aside .join-us > ul a span.pull-left {
  font-size: 0.51851852rem;
  color: #666;
}
main aside .join-us > ul a span.pull-left i {
  font-style: normal;
  color: #d40324;
  padding-left: 8px;
  background: url("../images/sprite.png") no-repeat 0 -24px;
  margin-left: 5px;
}
main aside .join-us > ul a span.pull-right {
  font-size: 0.44444444rem;
  color: #c9c9c9;
}
main aside .join-us > ul a:hover > span {
  color: #ff9d00;
}
main aside .jinzhan {
  font-size: 0.37037037rem;
  color: #333;
}
main aside .jinzhan li {
  margin: 0.37037037rem 0;
}
main aside .jinzhan li a {
  color: #333;
}
main article {
  overflow: hidden;
}
main article .ad img {
  width: 100%;
}
main article .ziyouxing .title {
  margin-top: 0.51851852rem;
  line-height: 2.22222222rem;
  font-size: 0.74074074rem;
}
main article .ziyouxing .title span {
  color: red;
  position: relative;
}
main article .ziyouxing .title span i {
  font-style: normal;
  position: absolute;
  bottom: -0.74074074rem;
  left: 0.74074074rem;
}
main article .ziyouxing .title span s {
  text-decoration: none;
  font-size: 0.44444444rem;
}
main article .ziyouxing .content {
  height: 180px;
}
main article .ziyouxing .content > .pull-left {
  width: 280px;
  height: 100%;
  background: url("../images/bg.jpeg") no-repeat;
  background-size: cover;
}
main article .ziyouxing .content > .pull-left .num {
  width: 100%;
  height: 144px;
  background: url("../images/onebuy2.png") no-repeat;
  text-align: center;
  color: #ffffff;
  padding-top: 55px;
}
main article .ziyouxing .content > .pull-left .num span:first-child {
  font-size: 25px;
}
main article .ziyouxing .content > .pull-left .num span:last-child {
  font-size: 12px;
}
main article .ziyouxing .content > .pull-left .user {
  height: 36px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
main article .ziyouxing .content > .pull-left .user li {
  padding: 10px 0;
  margin: 0 10px;
  border-top: 1px solid #696b6d;
  border-bottom: 1px solid #696b6d;
}
main article .ziyouxing .content > .pull-left .user li a {
  color: white;
}
main article .ziyouxing .content > .pull-left .user li a span {
  color: #ff9d00;
  margin-right: 5px;
}
main article .ziyouxing .content .info {
  overflow: hidden;
  border: 1px solid #e9e9e9;
  border-left: 0 none;
  padding: 12px 34px;
  height: 100%;
  text-align: right;
}
main article .ziyouxing .content .info > h3 {
  font-size: 20px;
  line-height: 48px;
}
main article .ziyouxing .content .info > h3 span {
  display: inline-block;
  padding: 1px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
}
main article .ziyouxing .content .info .price {
  width: 280px;
  height: 38px;
  line-height: 38px;
  display: flex;
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px 0;
}
main article .ziyouxing .content .info .price .pull-left {
  width: 50%;
  padding-left: 36px;
  background: url("../images/onebuy2.png") no-repeat 14px -170px;
  text-align: left;
}
main article .ziyouxing .content .info .price .pull-left i {
  font-style: normal;
  color: red;
}
main article .ziyouxing .content .info .price .pull-left span {
  font-size: 20px;
  color: red;
  vertical-align: top;
}
main article .ziyouxing .content .info .price .pull-right {
  width: 50%;
  background-color: red;
  color: white;
  font-size: 18px;
  text-align: center;
}
main article .ziyouxing .content .info .support span,
main article .ziyouxing .content .info .finish span {
  color: red;
}
main article .ziyouxing .content .info .finish,
main article .ziyouxing .content .info .support {
  font-size: 10px;
}
main article .ziyouxing .content .info .progross {
  width: 100%;
  height: 8px;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 5px;
}
main article .ziyouxing .content .info .progross .left {
  flex: 5;
  background-color: red;
}
main article .ziyouxing .content .info .progross .right {
  flex: 3;
  background-color: #e9e9e9;
}
main article .font-18 {
  font-size: 18px;
}
main article .youji .title {
  margin-top: 40px;
  line-height: 54px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 8px;
}
main article .youji .title ul {
  display: flex;
}
main article .youji .title ul li {
  text-align: center;
  flex: 1;
}
main article .youji .title ul li:first-child {
  border-bottom: 2px solid #ff9d00;
}
main article .youji .title .shai {
  display: inline-block;
  border: 1px solid #e9e9e9;
  line-height: 24px;
  margin-left: 20px;
  padding: 0 10px 0 20px;
  position: relative;
}
main article .youji .title .shai i {
  position: absolute;
  width: 20px;
  height: 24px;
  left: 0;
  top: 0;
  background: url("../images/index-sprites9.png") no-repeat 5px -122px;
}
main article .youji .title .shouye {
  font-size: 10px;
  padding: 0 30px 0 20px;
  position: relative;
}
main article .youji .title .shouye i {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  background: url("../images/index-sprites9.png") no-repeat -100px -30px;
}
main article .youji .title .write {
  display: inline-block;
  background-color: #ff9d00;
  line-height: 36px;
  padding: 0 36px 0 58px;
  border-radius: 5px;
  float: right;
  color: white;
  margin-top: 10px;
  font-size: 18px;
  position: relative;
}
main article .youji .title .write i {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/index-sprites9.png") no-repeat 0 0;
  left: 30px;
  top: 10px;
}
main article .youji .content .item {
  height: 180px;
  padding: 15px 0;
}
main article .youji .content .item:hover {
  background-color: #d6d6d6;
}
main article .youji .content .item:hover h3 {
  color: #ff9d00;
  cursor: pointer;
}
main article .youji .content .item .txt {
  overflow: hidden;
  padding-left: 40px;
}
main article .youji .content .item .txt h3 {
  font-size: 20px;
  line-height: 36px;
}
main article .youji .content .item .txt p {
  margin: 10px 0 20px;
}
main article .youji .content .item .txt .info span {
  padding: 0 5px 0 24px;
  display: inline-block;
  position: relative;
}
main article .youji .content .item .txt .info span i {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/index-sprites9.png") no-repeat;
}
main article .youji .content .item .txt .info span .i1,
main article .youji .content .item .txt .info span .i2 {
  background-position: 0 -48px;
}
main article .youji .content .item .txt .info span .i3 {
  background-position: -30px -47px;
}
main article .youji .content .item .txt .info .pull-right {
  padding-right: 50px;
  position: relative;
  line-height: 40px;
  margin-top: -10px;
}
main article .youji .content .item .txt .info .pull-right i {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../images/index-sprites9.png") no-repeat -60px 0px;
  z-index: 33;
}
